.description {
  &__title {
    margin-bottom: 50px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media(max-width:$md5) {
      display: block;
      margin-bottom: 50px;
    }
  }

  &__input {
    margin-bottom: 20px;

    &:not(:nth-child(2n)) {
      margin-right: 10px;

      @media(max-width:$md5) {
        margin-right: 0;
      }
    }
  }
}

.job-information {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media(max-width:$md3) {
      display: block;
      margin-bottom: 50px;
    }
  }

  .description__input {
    @media(max-width:$md3) {
      margin-right: 0;
    }
  }
}

.inputs-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width:$md4) {
    display: block;
  }

  &__label {
    padding-left: 20px;
    font-size: 14px;
    color: #A0A0A0;
    margin-right: 30px;
    white-space: nowrap;

    @media(max-width:$md4) {
      margin-bottom: 15px;
    }

  }

  .input-block {
    width: 100%;

    &:not(:last-child) {
      margin-right: 18px;

      @media(max-width:$md4) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}


.description {

  &__input {}
}


.tax_id {
  position: relative;

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    color: #A0A0A0;
    font-size: 14px;

    @media(max-width:$md4) {
      position: relative;
      text-align: center;
      margin-bottom: 17px;
    }
  }

  &__inner {
    display: flex;
    align-items: flex-end;

    @media(max-width:$md4) {
      justify-content: center;
      margin-bottom: 17px;
    }

    span {
      margin: 0 15px 10px 0;

      @media(max-width:$md4) {
        display: none;
      }
    }
  }

  &__input {
    background: #F5F5F5;
    border-radius: 8px;
    width: 39px;
    height: 39px;
    text-align: center;
    border: none;
    outline: none;

    &:not(:last-child) {
      margin-right: 15px;
    }

    @media(max-width:$md4) {
      display: none;
    }
  }

  &__info {
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    font-size: 14px;
    color: #5CA4DA;
    display: flex;

    @media(max-width:$md4) {
      position: relative;
      display: block;
      text-align: center;
      max-width: 262px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__info-icon {
    margin-right: 12px;

    @media(max-width:$md4) {
      position: relative;
      display: block;
      margin-bottom: 17px;
    }
  }

  .input-block {
    margin-bottom: 0;
    width: 47px;
    text-align: center;

    &:not(:last-child) {
      margin-right: 7px;
    }

    input {
      padding: 11px 5px;
      text-align: center;
    }
  }
}

.attention-text {
  font-size: 14px;
  color: #A0A0A0;
  margin-bottom: 40px;

  @media(max-width:$md4) {
    text-align: center;
    margin-bottom: 80px;
  }
}