<section class="funding">
  <div class="container">
    <div class="funding__wrapper">
      <div class="funding__img">
        <img src="img/funding_img.svg" alt="funding">
      </div>
      <div class="funding__content">
        <h2 class="funding__title">Fast funding, like
          tomorrow-fast.</h2>
        <div class="funding__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna enim suspendisse
          vulputate suspendisse sapien semper id elementum. Aliquam adipiscing tellus, malesuada mi purus molestie
          lorem. Sed magna in tortor, donec. Ac integer in ullamcorper pharetra. Odio iaculis adipiscing convallis
          ullamcorper semper. </div>
        <a href="#" class="funding__link btn btn_blue">More info</a>
      </div>
    </div>
  </div>
</section>