<section class="get">
  <div class="container">
    <div class="get__wrapper">
      <div class="get__img">
        <img src="img/get/img_1.svg" alt="get img">
      </div>
      <div class="get__content">
        <h2 class="get__title">
          Get personal loan the smart way
        </h2>
        <div class="get__text">Find your cheapest loan in minutes then click to apply instantly. It’s free and won’t
          affect your credit score.</div>
        <a href="#" class="get__btn down-btn">
          <span class="down-arrow">
            <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M1.51441 1.5117L0 3.0234L5.5 8.5117L11 14L16.5 8.5117L22 3.0234L20.4856 1.5117L18.9711 0L14.9856 3.97699L11 7.95401L7.01441 3.97699L3.02887 0L1.51441 1.5117Z"
                fill="white" />
            </svg>
          </span>
          Apply
        </a>
      </div>
    </div>
  </div>
</section>