<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title">Get personal loan the smart way</h1>
        <div class="hero__text">Find your cheapest loan in minutes then click to apply instantly. It’s free and won’t
          affect your credit score.</div>
        <button class="hero__btn down-btn">
          <span class="down-arrow">
            <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M1.51441 1.5117L0 3.0234L5.5 8.5117L11 14L16.5 8.5117L22 3.0234L20.4856 1.5117L18.9711 0L14.9856 3.97699L11 7.95401L7.01441 3.97699L3.02887 0L1.51441 1.5117Z"
                fill="white" />
            </svg>
          </span>
          Apply
        </button>
      </div>
      <div class="hero__img">
        <img class="hero__img-img" src="img/hero-img.svg" alt="man-img">
        <div class="hero-item hero-item_1">
          <div class="hero-item__descr">
            <div class="hero-item__val">$79k*</div>
            <div class="hero-item__text">Personal loans</div>
          </div>
          <div class="hero-item__icon">
            <img src="img/icons/user.svg" alt="user">
          </div>
        </div>
        <div class="hero-item hero-item_2">
          <div class="hero-item__descr">
            <div class="hero-item__val">$7964*</div>
            <div class="hero-item__text">Credit cards</div>
          </div>
          <div class="hero-item__icon">
            <img src="img/icons/cards.svg" alt="cards">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>