<section class="rised">
  <div class="container">
    <h2 class="rised__title">We raised total</h2>
    <h2 class="rised__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna enim suspendisse vulputate
      suspendisse sapien semper id elementum. </h2>
    <div class="rised__wrapper">
      <div class="rised-item">
        <div class="rised-item__inner">
          <div class="rised-item__icon">
            <img src="img/rised/icon_1.svg" alt="statistic">
          </div>
          <div class="rised-item__content">
            <div class="rised-item__labe">789+ Billion</div>
            <div class="rised-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
          </div>
        </div>
      </div>
      <div class="rised-item">
        <div class="rised-item__inner">
          <div class="rised-item__icon">
            <img src="img/rised/icon_2.png" alt="peoples">
          </div>
          <div class="rised-item__content">
            <div class="rised-item__labe">+7899643</div>
            <div class="rised-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>