<section class="what">
  <div class="container">
    <div class="what__wrapper">
      <div class="what__img">
        <img src="img/what/img.svg" alt="what">
      </div>
      <div class="what__content">
        <h2 class="what__title">What our customers
          say about us</h2>
        <div class="what__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna enim suspendisse vulputate
          suspendisse sapien semper id elementum. Aliquam adipiscing tellus, malesuada mi purus molestie lorem. Sed
          magna in tortor, donec. Ac integer in ullamcorper pharetra. Odio iaculis adipiscing convallis ullamcorper
          semper. </div>
        <a href="#" class="what__link btn btn_purple">More info</a>
      </div>

    </div>
  </div>
</section>